.header {
    display: flex;
    flex-direction: column;

    @media (max-width: 684px) {
        flex-direction: row;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.header-logo-container {
    display: flex;
    flex: 1;

    &::after {
        content: '';
        display: block;
        margin-inline-start: 8px;
        width: 100%;
    }

    a {
        flex: 0 0 auto;
        max-width: 100%;
        text-decoration: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: #2a9d8f;
    color: var(--background-color);
    font-weight: bold;
    text-decoration: none;
}

@media print {
    .header {
        display: none;
    }
}
